<div class="body">
  <header>
    <div class="container-header">
      <div class="box-header">
        <a routerLink="/cadastrar">
          <img src="https://i.imgur.com/yspvV5b.png" alt="manual do usuário">
          <span>Manual do usuário</span>
        </a>
      </div>
      <div class="box-header">
        <a routerLink="/cadastrar">
          <img src="https://i.imgur.com/he9HwVn.png" alt="download do aplicativo">
          <span>Download do aplicativo</span>
        </a>
      </div>
      <div class="box-header">
        <a href="#">
          <img src="https://i.imgur.com/sk1DvPK.png" alt="qr code">
          <span>Qr code</span>
        </a>
      </div>
      <div class="box-header">
        <a href="#">
          <img src="https://i.imgur.com/ubaYGeO.png" alt="">
          <span></span>
        </a>
      </div>
    </div>

    <div id="toggle" (click)="toggle()"></div>

  </header>

  <div class="container">
    <div class="item-container left">
      <div class="box-item">
        <div class="box-title-img">
          <h1>Segurança</h1>
          <img src="https://i.imgur.com/H2XMFna.png" alt="icone segurança">
        </div>
        <div class="content-text">
          <p>"Nada de tirar o smartphone do <br>
            bolso para ouvi-lo nas ruas, evite possíveis assaltos.”</p>
        </div>
      </div>

      <div class="box-item">
        <div class="box-title-img">
          <h1>Confiança</h1>
          <img src="https://i.imgur.com/1ds0L3W.png" alt="icone segurança">
        </div>

        <div class="content-text">
          <p>"Ao chegar a um destino ou virarem uma rua, <br>
            você saberá com mais precisão.”</p>
        </div>
      </div>
    </div>
    <div class="item-container right">
      <div class="box-item">
        <div class="box-title-img">
          <h1>Independência</h1>
          <img src="https://i.imgur.com/Unm0Via.png" alt="icone segurança">
        </div>

        <div class="content-text">
          <p>"Tenha mais liberdade <br>
            ao andar na rua, evite pedir ajuda a pessoas estranhas.”</p>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <p>&copy; Todos os direitos reservados | <b>tcc uninove</b></p>
  </footer>
</div>
